In [20]:
# import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt

# Train vs Test

In [21]:
# df_train = pd.read_csv("./dataset/train_preprocessed_imputed_preprocessed.csv")
# df_target = df_train.pop("CO2 Emissions(g/km)")
# df_train

,Id,Fuel Consumption City (L/100Km),Fuel Consumption Hwy (L/100Km),Fuel Consumption Comb (L/100Km),Engine Size(L),Cylinders,Make,Vehicle Class,Transmission,Fuel Type
0,1,8.640000,6.140000,7.514791,3.500000,6,FOLD,PICKUP TRUCK - STANDARD,A6,X
1,2,27.270000,30.760000,28.840000,5.300000,8,CHEVO,PICKUP TRUCK - STANDARD,A6,E
2,3,1.700000,2.030000,1.848477,4.400000,6,BMV,SUBCOMPACT,M6,Z
3,4,15.337423,15.900000,15.590609,2.057097,4,KIO,SUV - SMALL,AS6,X
4,5,20.150000,6.000000,13.800000,3.000000,6,BARUSU,MINICOMPACT,AS6,Z
...,...,...,...,...,...,...,...,...,...,...
137136,137137,33.710000,7.698229,22.026432,5.023977,8,BMV,SUBCOMPACT,AS8,Z
137137,137138,6.489293,0.870000,3.961175,1.500000,4,GONDA,STATION WAGON - SMALL,M6,X
137138,137139,2.990000,8.380000,5.412550,1.800000,4,NIRRAN,MID-SIZE,AV,X
137139,137140,11.480000,0.221408,6.400000,1.800000,4,TOYOTI,COMPACT,AV,X
137140,137141,3.360000,2.800000,3.098853,2.500000,4,BARUSU,MID-SIZE,AV6,X

In [22]:
# df_test = pd.read_csv("./dataset/test_preprocessed.csv")
# df_test.rename(
#     columns={
#         "Fuel Consumption City": "Fuel Consumption City (L/100Km)",
#         "Fuel Consumption Hwy": "Fuel Consumption Hwy (L/100Km)",
#         "Fuel Consumption Comb": "Fuel Consumption Comb (L/100Km)",
#     },
#     inplace=True,
# )

# df_test

,Id,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100Km),Fuel Consumption Hwy (L/100Km),Fuel Consumption Comb (L/100Km)
0,137142,CADILUXE,MID-SIZE,3.6,NaN,AS8,X,15.625000,1.770000,9.393554
1,137143,FOLD,VAN - PASSENGER,3.7,6.0,AS6,X,21.110000,14.380000,18.083183
2,137144,MITSU,SUV - SMALL,6.0,NaN,AV6,X,24.501519,10.290747,18.107358
3,137145,LECUS,MID-SIZE,4.6,NaN,AS8,Z,16.800000,15.898251,16.420000
4,137146,BMV,SUV - STANDARD,4.4,8.0,AS8,Z,41.630900,19.151254,31.520000
...,...,...,...,...,...,...,...,...,...,...
58771,195913,KIO,SUV - SMALL,3.3,NaN,A6,X,18.354841,20.900000,19.500000
58772,195914,FOLD,NaN,1.6,4.0,AS6,X,6.189857,6.599736,6.373486
58773,195915,CHEVO,SUV - STANDARD,3.5,NaN,A6,X,14.492754,11.001618,12.923878
58774,195916,FOLD,NaN,5.0,8.0,AS6,X,8.421575,4.594035,6.700213
58775,195917,ASURA,SUV - SMALL,3.5,6.0,AS9,Z,19.880716,0.186273,11.012904

In [23]:
# df_all = pd.concat([df_train, df_test])
# df_all

,Id,Fuel Consumption City (L/100Km),Fuel Consumption Hwy (L/100Km),Fuel Consumption Comb (L/100Km),Engine Size(L),Cylinders,Make,Vehicle Class,Transmission,Fuel Type
0,1,8.640000,6.140000,7.514791,3.500000,6.0,FOLD,PICKUP TRUCK - STANDARD,A6,X
1,2,27.270000,30.760000,28.840000,5.300000,8.0,CHEVO,PICKUP TRUCK - STANDARD,A6,E
2,3,1.700000,2.030000,1.848477,4.400000,6.0,BMV,SUBCOMPACT,M6,Z
3,4,15.337423,15.900000,15.590609,2.057097,4.0,KIO,SUV - SMALL,AS6,X
4,5,20.150000,6.000000,13.800000,3.000000,6.0,BARUSU,MINICOMPACT,AS6,Z
...,...,...,...,...,...,...,...,...,...,...
58771,195913,18.354841,20.900000,19.500000,3.300000,NaN,KIO,SUV - SMALL,A6,X
58772,195914,6.189857,6.599736,6.373486,1.600000,4.0,FOLD,NaN,AS6,X
58773,195915,14.492754,11.001618,12.923878,3.500000,NaN,CHEVO,SUV - STANDARD,A6,X
58774,195916,8.421575,4.594035,6.700213,5.000000,8.0,FOLD,NaN,AS6,X
58775,195917,19.880716,0.186273,11.012904,3.500000,6.0,ASURA,SUV - SMALL,AS9,Z

In [24]:
# df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195917 entries, 0 to 58775
Data columns (total 10 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Id                               195917 non-null  int64
 1   Fuel Consumption City (L/100Km)  193404 non-null  float64
 2   Fuel Consumption Hwy (L/100Km)   193319 non-null  float64
 3   Fuel Consumption Comb (L/100Km)  193152 non-null  float64
 4   Engine Size(L)                   185299 non-null  float64
 5   Cylinders                        187031 non-null  float64
 6   Make                             195917 non-null  object
 7   Vehicle Class                    193730 non-null  object
 8   Transmission                     191412 non-null  object
 9   Fuel Type                        192839 non-null  object
dtypes: float64(5), int64(1), object(4)
memory usage: 16.4+ MB

# Impute

In [27]:
# df_fuelconsumption = df_all[
#     [
#         "Fuel Consumption City (L/100Km)",
#         "Fuel Consumption Hwy (L/100Km)",
#         "Fuel Consumption Comb (L/100Km)",
#         # "CO2 Emissions(g/km)",
#     ]
# ]

# df_enginecylinders = df_all[
#     # ["Engine Size(L)", "Cylinders", "CO2 Emissions(g/km)", "Make", "Vehicle Class"] # with category features
#     ["Engine Size(L)", "Cylinders"]
# ]

In [28]:
# from sklearn.experimental import enable_iterative_imputer
# from sklearn.impute import IterativeImputer

# imp = IterativeImputer(random_state=42)
# imp.set_output(transform="pandas")
# imp.fit(df_fuelconsumption)
# df_fuelconsumption_imputed = imp.transform(df_fuelconsumption)

# imp = IterativeImputer(random_state=42)
# imp.set_output(transform="pandas")
# imp.fit(df_enginecylinders)
# df_enginecylinders_imputed = imp.transform(df_enginecylinders)

### add data to df_all_fix1

In [31]:
# # there were data < 0, so we need to replace it with 0

# df_numerical_imputed = pd.concat(
#     [df_fuelconsumption_imputed, df_enginecylinders_imputed], axis=1
# )
# df_numerical_imputed = df_numerical_imputed.clip(lower=0)

# df_numerical_imputed

,Fuel Consumption City (L/100Km),Fuel Consumption Hwy (L/100Km),Fuel Consumption Comb (L/100Km),Engine Size(L),Cylinders
0,8.640000,6.140000,7.514791,3.500000,6.000000
1,27.270000,30.760000,28.840000,5.300000,8.000000
2,1.700000,2.030000,1.848477,4.400000,6.000000
3,15.337423,15.900000,15.590609,2.057097,4.000000
4,20.150000,6.000000,13.800000,3.000000,6.000000
...,...,...,...,...,...
58771,18.354841,20.900000,19.500000,3.300000,5.665216
58772,6.189857,6.599736,6.373486,1.600000,4.000000
58773,14.492754,11.001618,12.923878,3.500000,5.904274
58774,8.421575,4.594035,6.700213,5.000000,8.000000
58775,19.880716,0.186273,11.012904,3.500000,6.000000

In [32]:
# df_fix1 = df_all.drop(df_numerical_imputed.columns.tolist(), axis=1)
# df_fix1 = pd.concat([df_fix1, df_numerical_imputed], axis=1)
# df_fix1

,Id,Make,Vehicle Class,Transmission,Fuel Type,Fuel Consumption City (L/100Km),Fuel Consumption Hwy (L/100Km),Fuel Consumption Comb (L/100Km),Engine Size(L),Cylinders
0,1,FOLD,PICKUP TRUCK - STANDARD,A6,X,8.640000,6.140000,7.514791,3.500000,6.000000
1,2,CHEVO,PICKUP TRUCK - STANDARD,A6,E,27.270000,30.760000,28.840000,5.300000,8.000000
2,3,BMV,SUBCOMPACT,M6,Z,1.700000,2.030000,1.848477,4.400000,6.000000
3,4,KIO,SUV - SMALL,AS6,X,15.337423,15.900000,15.590609,2.057097,4.000000
4,5,BARUSU,MINICOMPACT,AS6,Z,20.150000,6.000000,13.800000,3.000000,6.000000
...,...,...,...,...,...,...,...,...,...,...
58771,195913,KIO,SUV - SMALL,A6,X,18.354841,20.900000,19.500000,3.300000,5.665216
58772,195914,FOLD,NaN,AS6,X,6.189857,6.599736,6.373486,1.600000,4.000000
58773,195915,CHEVO,SUV - STANDARD,A6,X,14.492754,11.001618,12.923878,3.500000,5.904274
58774,195916,FOLD,NaN,AS6,X,8.421575,4.594035,6.700213,5.000000,8.000000
58775,195917,ASURA,SUV - SMALL,AS9,Z,19.880716,0.186273,11.012904,3.500000,6.000000

In [33]:
# df_categorical_imputed = df_fix1[
#     [
#         "Make",
#         "Vehicle Class",
#         "Transmission",
#         "Fuel Type",
#         # "CO2 Emissions(g/km)",
#         "Engine Size(L)",
#         "Cylinders",
#     ]
# ]

# for col in df_categorical_imputed.columns:
#     if df_categorical_imputed[col].dtype == "object":
#         df_categorical_imputed[col] = df_categorical_imputed[col].astype("category")

C:\Users\sesar\AppData\Local\Temp\ipykernel_14480\3540741853.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical_imputed[col] = df_categorical_imputed[col].astype("category")
C:\Users\sesar\AppData\Local\Temp\ipykernel_14480\3540741853.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical_imputed[col] = df_categorical_imputed[col].astype("category")
C:\Users\sesar\AppData\Local\Temp\ipykernel_14480\3540741853.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical_imputed[col] = df_categorical_imputed[col].astype("category")
C:\Users\sesar\AppData\Local\Temp\ipykernel_14480\3540741853.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_categorical_imputed[col] = df_categorical_imputed[col].astype("category")

In [34]:
# import miceforest as mf

# # might consider "UserWarning: [Transmission,Fuel Type] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities."

# kds = mf.ImputationKernel(
#     df_categorical_imputed, save_all_iterations=True, random_state=42
# )
# kds.mice(10)
# df_categorical_imputed = kds.complete_data()

# df_categorical_imputed

c:\Users\sesar\Documents\_PROJECTS\bebass\venv31011\lib\site-packages\miceforest\ImputationKernel.py:370: UserWarning: [Transmission,Fuel Type] have very rare categories, it is a good idea to group these, or set the min_data_in_leaf parameter to prevent lightgbm from outputting 0.0 probabilities.
  warn(

,Make,Vehicle Class,Transmission,Fuel Type,Engine Size(L),Cylinders
0,FOLD,PICKUP TRUCK - STANDARD,A6,X,3.500000,6.000000
1,CHEVO,PICKUP TRUCK - STANDARD,A6,E,5.300000,8.000000
2,BMV,SUBCOMPACT,M6,Z,4.400000,6.000000
3,KIO,SUV - SMALL,AS6,X,2.057097,4.000000
4,BARUSU,MINICOMPACT,AS6,Z,3.000000,6.000000
...,...,...,...,...,...,...
58771,KIO,SUV - SMALL,A6,X,3.300000,5.665216
58772,FOLD,PICKUP TRUCK - STANDARD,AS6,X,1.600000,4.000000
58773,CHEVO,SUV - STANDARD,A6,X,3.500000,5.904274
58774,FOLD,PICKUP TRUCK - STANDARD,AS6,X,5.000000,8.000000
58775,ASURA,SUV - SMALL,AS9,Z,3.500000,6.000000

In [35]:
# df_categorical_impupted_fix = df_categorical_imputed.copy()
# df_categorical_impupted_fix = df_categorical_impupted_fix.drop(
#     [
#         # "CO2 Emissions(g/km)",
#         "Engine Size(L)",
#         "Cylinders",
#     ],
#     axis=1,
# )

In [36]:
# df_fix2 = df_fix1.drop(df_categorical_impupted_fix.columns.tolist(), axis=1)
# df_fix2 = pd.concat([df_fix2, df_categorical_impupted_fix], axis=1)
# df_fix2

,Id,Fuel Consumption City (L/100Km),Fuel Consumption Hwy (L/100Km),Fuel Consumption Comb (L/100Km),Engine Size(L),Cylinders,Make,Vehicle Class,Transmission,Fuel Type
0,1,8.640000,6.140000,7.514791,3.500000,6.000000,FOLD,PICKUP TRUCK - STANDARD,A6,X
1,2,27.270000,30.760000,28.840000,5.300000,8.000000,CHEVO,PICKUP TRUCK - STANDARD,A6,E
2,3,1.700000,2.030000,1.848477,4.400000,6.000000,BMV,SUBCOMPACT,M6,Z
3,4,15.337423,15.900000,15.590609,2.057097,4.000000,KIO,SUV - SMALL,AS6,X
4,5,20.150000,6.000000,13.800000,3.000000,6.000000,BARUSU,MINICOMPACT,AS6,Z
...,...,...,...,...,...,...,...,...,...,...
58771,195913,18.354841,20.900000,19.500000,3.300000,5.665216,KIO,SUV - SMALL,A6,X
58772,195914,6.189857,6.599736,6.373486,1.600000,4.000000,FOLD,PICKUP TRUCK - STANDARD,AS6,X
58773,195915,14.492754,11.001618,12.923878,3.500000,5.904274,CHEVO,SUV - STANDARD,A6,X
58774,195916,8.421575,4.594035,6.700213,5.000000,8.000000,FOLD,PICKUP TRUCK - STANDARD,AS6,X
58775,195917,19.880716,0.186273,11.012904,3.500000,6.000000,ASURA,SUV - SMALL,AS9,Z

In [37]:
# df_fix3 = df_fix2.copy()
# df_fix3.reset_index(drop=True, inplace=True)
# df_fix3

,Id,Fuel Consumption City (L/100Km),Fuel Consumption Hwy (L/100Km),Fuel Consumption Comb (L/100Km),Engine Size(L),Cylinders,Make,Vehicle Class,Transmission,Fuel Type
0,1,8.640000,6.140000,7.514791,3.500000,6.000000,FOLD,PICKUP TRUCK - STANDARD,A6,X
1,2,27.270000,30.760000,28.840000,5.300000,8.000000,CHEVO,PICKUP TRUCK - STANDARD,A6,E
2,3,1.700000,2.030000,1.848477,4.400000,6.000000,BMV,SUBCOMPACT,M6,Z
3,4,15.337423,15.900000,15.590609,2.057097,4.000000,KIO,SUV - SMALL,AS6,X
4,5,20.150000,6.000000,13.800000,3.000000,6.000000,BARUSU,MINICOMPACT,AS6,Z
...,...,...,...,...,...,...,...,...,...,...
195912,195913,18.354841,20.900000,19.500000,3.300000,5.665216,KIO,SUV - SMALL,A6,X
195913,195914,6.189857,6.599736,6.373486,1.600000,4.000000,FOLD,PICKUP TRUCK - STANDARD,AS6,X
195914,195915,14.492754,11.001618,12.923878,3.500000,5.904274,CHEVO,SUV - STANDARD,A6,X
195915,195916,8.421575,4.594035,6.700213,5.000000,8.000000,FOLD,PICKUP TRUCK - STANDARD,AS6,X
195916,195917,19.880716,0.186273,11.012904,3.500000,6.000000,ASURA,SUV - SMALL,AS9,Z

In [38]:
# df_train_fix = df_fix3.iloc[:df_train.shape[0], :]
# df_train_fix

,Id,Fuel Consumption City (L/100Km),Fuel Consumption Hwy (L/100Km),Fuel Consumption Comb (L/100Km),Engine Size(L),Cylinders,Make,Vehicle Class,Transmission,Fuel Type
0,1,8.640000,6.140000,7.514791,3.500000,6.0,FOLD,PICKUP TRUCK - STANDARD,A6,X
1,2,27.270000,30.760000,28.840000,5.300000,8.0,CHEVO,PICKUP TRUCK - STANDARD,A6,E
2,3,1.700000,2.030000,1.848477,4.400000,6.0,BMV,SUBCOMPACT,M6,Z
3,4,15.337423,15.900000,15.590609,2.057097,4.0,KIO,SUV - SMALL,AS6,X
4,5,20.150000,6.000000,13.800000,3.000000,6.0,BARUSU,MINICOMPACT,AS6,Z
...,...,...,...,...,...,...,...,...,...,...
137136,137137,33.710000,7.698229,22.026432,5.023977,8.0,BMV,SUBCOMPACT,AS8,Z
137137,137138,6.489293,0.870000,3.961175,1.500000,4.0,GONDA,STATION WAGON - SMALL,M6,X
137138,137139,2.990000,8.380000,5.412550,1.800000,4.0,NIRRAN,MID-SIZE,AV,X
137139,137140,11.480000,0.221408,6.400000,1.800000,4.0,TOYOTI,COMPACT,AV,X
137140,137141,3.360000,2.800000,3.098853,2.500000,4.0,BARUSU,MID-SIZE,AV6,X

In [40]:
# df_test_fix = df_fix3.iloc[df_train.shape[0] :, :]
# df_test_fix.reset_index(drop=True, inplace=True)
# df_test_fix

,Id,Fuel Consumption City (L/100Km),Fuel Consumption Hwy (L/100Km),Fuel Consumption Comb (L/100Km),Engine Size(L),Cylinders,Make,Vehicle Class,Transmission,Fuel Type
0,137142,15.625000,1.770000,9.393554,3.6,6.023803,CADILUXE,MID-SIZE,AS8,X
1,137143,21.110000,14.380000,18.083183,3.7,6.000000,FOLD,VAN - PASSENGER,AS6,X
2,137144,24.501519,10.290747,18.107358,6.0,8.892501,MITSU,SUV - SMALL,AV6,X
3,137145,16.800000,15.898251,16.420000,4.6,7.219094,LECUS,MID-SIZE,AS8,Z
4,137146,41.630900,19.151254,31.520000,4.4,8.000000,BMV,SUV - STANDARD,AS8,Z
...,...,...,...,...,...,...,...,...,...,...
58771,195913,18.354841,20.900000,19.500000,3.3,5.665216,KIO,SUV - SMALL,A6,X
58772,195914,6.189857,6.599736,6.373486,1.6,4.000000,FOLD,PICKUP TRUCK - STANDARD,AS6,X
58773,195915,14.492754,11.001618,12.923878,3.5,5.904274,CHEVO,SUV - STANDARD,A6,X
58774,195916,8.421575,4.594035,6.700213,5.0,8.000000,FOLD,PICKUP TRUCK - STANDARD,AS6,X
58775,195917,19.880716,0.186273,11.012904,3.5,6.000000,ASURA,SUV - SMALL,AS9,Z

In [45]:
# df_train_fix = pd.concat([df_train_fix, df_target], axis=1)

In [46]:
# df_train_fix.to_csv("./dataset/train_fix.csv", index=False)
# df_test_fix.to_csv("./dataset/test_fix.csv", index=False)

In [ ]:
# from dython.nominal import associations

# associations(df_train_fix)
# associations(df_test_fix)
# associations(df_fix3)
# print()

# After Imputation

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df_train_fix = pd.read_csv("./dataset/train_fix.csv")
df_test_fix = pd.read_csv("./dataset/test_fix.csv")
df_target = df_train_fix.pop("CO2 Emissions(g/km)")

# Preprocessing

Numerical Value:
- Fuel Consumption City (L/100Km) -> log, sqrt, boxcox, inverse
- Fuel Consumption Hwy (L/100Km) -> log, sqrt, boxcox, inverse
- Fuel Consumption Comb (L/100Km) -> log, sqrt, boxcox, inverse
- Engine Size(L) -> log, sqrt, boxcox, inverse
- Cylinders -> log, sqrt, boxcox, inverse

Categorical Value:
- Make -> one-hot
- Vehicle Class -> binary
- Transmission -> binary 
- Fuel Type -> one-hot

In [9]:
df_train_fix_preprocessed = df_train_fix.copy()
df_test_fix_preprocessed = df_test_fix.copy()

In [10]:
df_train_fix_preprocessed

,Id,Fuel Consumption City (L/100Km),Fuel Consumption Hwy (L/100Km),Fuel Consumption Comb (L/100Km),Engine Size(L),Cylinders,Make,Vehicle Class,Transmission,Fuel Type
0,1,8.640000,6.140000,7.514791,3.500000,6.0,FOLD,PICKUP TRUCK - STANDARD,A6,X
1,2,27.270000,30.760000,28.840000,5.300000,8.0,CHEVO,PICKUP TRUCK - STANDARD,A6,E
2,3,1.700000,2.030000,1.848477,4.400000,6.0,BMV,SUBCOMPACT,M6,Z
3,4,15.337423,15.900000,15.590609,2.057097,4.0,KIO,SUV - SMALL,AS6,X
4,5,20.150000,6.000000,13.800000,3.000000,6.0,BARUSU,MINICOMPACT,AS6,Z
...,...,...,...,...,...,...,...,...,...,...
137136,137137,33.710000,7.698229,22.026432,5.023977,8.0,BMV,SUBCOMPACT,AS8,Z
137137,137138,6.489293,0.870000,3.961175,1.500000,4.0,GONDA,STATION WAGON - SMALL,M6,X
137138,137139,2.990000,8.380000,5.412550,1.800000,4.0,NIRRAN,MID-SIZE,AV,X
137139,137140,11.480000,0.221408,6.400000,1.800000,4.0,TOYOTI,COMPACT,AV,X
137140,137141,3.360000,2.800000,3.098853,2.500000,4.0,BARUSU,MID-SIZE,AV6,X

In [11]:
# from sklearn.preprocessing import PowerTransformer <- MIGHT USE THIS

column_to_transform = [
    "Fuel Consumption City (L/100Km)",
    "Fuel Consumption Hwy (L/100Km)",
    "Fuel Consumption Comb (L/100Km)",
    "Engine Size(L)",
    "Cylinders",
]

In [12]:
for col in column_to_transform:
    df_train_fix_preprocessed["T_log_"+col] = np.log(df_train_fix_preprocessed[col] + 1)
    df_test_fix_preprocessed["T_log_"+col] = np.log(df_test_fix_preprocessed[col] + 1)

In [13]:
for col in column_to_transform:
    df_train_fix_preprocessed["T_sqrt_"+col] = np.sqrt(df_train_fix_preprocessed[col])
    df_test_fix_preprocessed["T_sqrt_"+col] = np.sqrt(df_test_fix_preprocessed[col])

In [14]:
from scipy import stats

for col in column_to_transform:
    df_train_fix_preprocessed["T_boxcox_"+col], _ = stats.boxcox(
        df_train_fix_preprocessed[col] + 1
    )
    df_test_fix_preprocessed["T_boxcox_"+col], _ = stats.boxcox(
        df_test_fix_preprocessed[col] + 1
    )

In [15]:
for col in column_to_transform:
    df_train_fix_preprocessed["T_inverse_"+col] = 1 / (df_train_fix_preprocessed[col] + 1)
    df_test_fix_preprocessed["T_inverse_"+col] = 1 / (df_test_fix_preprocessed[col] + 1)

In [32]:
from sklearn.preprocessing import OneHotEncoder
from category_encoders import BinaryEncoder

categorical_features_onehot = [
    "Make",
    "Fuel Type",
]

categorical_features_binary = [
    "Vehicle Class",
    "Transmission",
]

df_categorical_one_hot = df_train_fix_preprocessed[categorical_features_onehot].copy()
df_categorical_binary = df_train_fix_preprocessed[categorical_features_binary].copy()

encoder_onehot = OneHotEncoder(sparse_output=False)
encoder_onehot.set_output(transform="pandas")
onehot_encoded_data = encoder_onehot.fit_transform(df_categorical_one_hot)
# do the same with test data

encoder_binary = BinaryEncoder(cols=categorical_features_binary)
encoder_binary.set_output(transform="pandas")
df_binary = encoder_binary.fit_transform(df_categorical_binary)
# do the same with test data


onehot_encoded_data_cat = onehot_encoded_data.copy().astype("int64").astype("category")
df_binary_cat = df_binary.copy().astype("int64").astype("category")

In [34]:
df_train_log = df_train_fix_preprocessed.filter(regex="T_log_")
df_train_sqrt = df_train_fix_preprocessed.filter(regex="T_sqrt_")
df_train_boxcox = df_train_fix_preprocessed.filter(regex="T_boxcox_")
df_train_inverse = df_train_fix_preprocessed.filter(regex="T_inverse_")

df_train_to_model_log = pd.concat(
    [df_train_log, df_binary_cat, onehot_encoded_data_cat], axis=1
)
df_train_to_model_sqrt = pd.concat(
    [df_train_sqrt, df_binary_cat, onehot_encoded_data_cat], axis=1
)
df_train_to_model_boxcox = pd.concat(
    [df_train_boxcox, df_binary_cat, onehot_encoded_data_cat], axis=1
)
df_train_to_model_inverse = pd.concat(
    [df_train_inverse, df_binary_cat, onehot_encoded_data_cat], axis=1
)

In [35]:
df_train_to_model_log

,T_log_Fuel Consumption City (L/100Km),T_log_Fuel Consumption Hwy (L/100Km),T_log_Fuel Consumption Comb (L/100Km),T_log_Engine Size(L),T_log_Cylinders,Vehicle Class_0,Vehicle Class_1,Vehicle Class_2,Vehicle Class_3,Vehicle Class_4,...,Make_MITSU,Make_NIRRAN,Make_RYUNDAI,Make_TOLVO,Make_TOYOTI,Fuel Type_D,Fuel Type_E,Fuel Type_N,Fuel Type_X,Fuel Type_Z
0,2.265921,1.965713,2.141805,1.504077,1.945910,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1,3.341801,3.458208,3.395850,1.840550,2.197225,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
2,0.993252,1.108563,1.046785,1.686399,1.945910,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,2.793458,2.827314,2.808837,1.117466,1.609438,0,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0
4,3.051640,1.945910,2.694627,1.386294,1.945910,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137136,3.547028,2.163119,3.136643,1.795748,2.197225,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
137137,2.013474,0.625938,1.601643,0.916291,1.609438,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
137138,1.383791,2.238580,1.858257,1.029619,1.609438,0,1,0,1,0,...,0,1,0,0,0,0,0,0,1,0
137139,2.524127,0.200004,2.001480,1.029619,1.609438,0,0,1,0,1,...,0,0,0,0,1,0,0,0,1,0
137140,1.472472,1.335001,1.410707,1.252763,1.609438,0,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [36]:
df_train_to_model_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137141 entries, 0 to 137140
Data columns (total 41 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   T_log_Fuel Consumption City (L/100Km)  137141 non-null  float64
 1   T_log_Fuel Consumption Hwy (L/100Km)   137141 non-null  float64
 2   T_log_Fuel Consumption Comb (L/100Km)  137141 non-null  float64
 3   T_log_Engine Size(L)                   137141 non-null  float64
 4   T_log_Cylinders                        137141 non-null  float64
 5   Vehicle Class_0                        137141 non-null  category
 6   Vehicle Class_1                        137141 non-null  category
 7   Vehicle Class_2                        137141 non-null  category
 8   Vehicle Class_3                        137141 non-null  category
 9   Vehicle Class_4                        137141 non-null  category
 10  Transmission_0                         137141 non-null  category
 11  Transmission_1                         137141 non-null  category
 12  Transmission_2                         137141 non-null  category
 13  Transmission_3                         137141 non-null  category
 14  Transmission_4                         137141 non-null  category
 15  Make_ASURA                             137141 non-null  category
 16  Make_BARUSU                            137141 non-null  category
 17  Make_BMV                               137141 non-null  category
 18  Make_CADILUXE                          137141 non-null  category
 19  Make_CHEVO                             137141 non-null  category
 20  Make_DOGE                              137141 non-null  category
 21  Make_FIAR                              137141 non-null  category
 22  Make_FOLD                              137141 non-null  category
 23  Make_FOLKSWA                           137141 non-null  category
 24  Make_GONDA                             137141 non-null  category
 25  Make_JIPU                              137141 non-null  category
 26  Make_KIO                               137141 non-null  category
 27  Make_LAMBOGI                           137141 non-null  category
 28  Make_LAND CRAWLER                      137141 non-null  category
 29  Make_LECUS                             137141 non-null  category
 30  Make_MATSUDA                           137141 non-null  category
 31  Make_MITSU                             137141 non-null  category
 32  Make_NIRRAN                            137141 non-null  category
 33  Make_RYUNDAI                           137141 non-null  category
 34  Make_TOLVO                             137141 non-null  category
 35  Make_TOYOTI                            137141 non-null  category
 36  Fuel Type_D                            137141 non-null  category
 37  Fuel Type_E                            137141 non-null  category
 38  Fuel Type_N                            137141 non-null  category
 39  Fuel Type_X                            137141 non-null  category
 40  Fuel Type_Z                            137141 non-null  category
dtypes: category(36), float64(5)
memory usage: 9.9 MB

# Modeling

- SVR
- DecisionTree
= XGBoost
- LGBM
- DNN
- ENSEMBLE

In [19]:
random_state = 42

In [20]:
from sklearn.svm import SVR

# Assuming you have training data X_train, y_train
model_svr = SVR()

In [21]:
from sklearn.tree import DecisionTreeRegressor

# Assuming you have training data X_train, y_train
model_dt = DecisionTreeRegressor(random_state=random_state)

In [22]:
from xgboost import XGBRegressor

# Assuming you have training data X_train, y_train
# model_xgb = XGBRegressor(
#     max_depth=3,
#     learning_rate=0.1,
#     n_estimators=500,
#     objective="reg:squarederror",
#     booster="gbtree",
# )

model_xgb = XGBRegressor(random_state=random_state)

In [23]:
import lightgbm as lgb

# Assuming you have training data X_train, y_train
model_lgbm = lgb.LGBMRegressor(random_state=random_state)

In [24]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Assuming you have training data X_train, y_train
model_dnn = Sequential()
model_dnn.add(
    Dense(256, input_dim=df_train_to_model_log.shape[1], activation="relu")
)  # Input layer
model_dnn.add(Dense(256, activation="relu"))  # Hidden layer 1
model_dnn.add(Dense(256, activation="relu"))  # Hidden layer 2
model_dnn.add(Dense(1))  # Output layer

model_dnn.compile(loss="mean_squared_error", optimizer="adam")

WARNING:tensorflow:From c:\Users\sesar\Documents\_PROJECTS\bebass\venv31011\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From c:\Users\sesar\Documents\_PROJECTS\bebass\venv31011\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\sesar\Documents\_PROJECTS\bebass\venv31011\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [25]:
from sklearn.ensemble import StackingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor

# Assuming you have training data X_train, y_train
model1 = SVR()
model2 = DecisionTreeRegressor(random_state=random_state)
model3 = LinearRegression()

model_ensemble = StackingRegressor(
    estimators=[("svr", model1), ("dt", model2), ("lr", model3)]
)

In [26]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

# Assuming 'models' is a list of your models
models = [model_svr, model_lgbm, model_dt, model_xgb, model_ensemble]

# Create a list of your datasets
datasets = [
    df_train_to_model_log,
    df_train_to_model_sqrt,
    df_train_to_model_boxcox,
    df_train_to_model_inverse,
]

y = df_target

# Initialize a dictionary to hold your results
results = {}

# Create a StandardScaler object
scaler = StandardScaler()
# scaler = MinMaxScaler()

# Loop over your models
for model in models:
    model_name = type(model).__name__
    results[model_name] = {}

    # Loop over your datasets
    for i, dataset in enumerate(datasets):
        # Split your data into training and testing sets
        X_train, X_test, y_train, y_test = train_test_split(
            dataset, y, test_size=0.2, random_state=42
        )

        # Normalize the data
        X_train = scaler.fit_transform(X_train)
        X_test = scaler.transform(X_test)

        # Train the model
        model.fit(X_train, y_train)

        # Make predictions
        predictions = model.predict(X_test)

        # Evaluate the model
        mse = mean_squared_error(y_test, predictions)

        # Store the results
        results[model_name][f"dataset_{i+1}"] = mse

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.007339 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1133
[LightGBM] [Info] Number of data points in the train set: 109712, number of used features: 41
[LightGBM] [Info] Start training from score 250.400155
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.009345 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1133
[LightGBM] [Info] Number of data points in the train set: 109712, number of used features: 41
[LightGBM] [Info] Start training from score 250.400155
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.007046 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1133
[LightGBM] [Info] Number of data points in the train set: 109712, number of used features: 41
[LightGBM] [Info] Start training from score 250.400155
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.006568 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1123
[LightGBM] [Info] Number of data points in the train set: 109712, number of used features: 41
[LightGBM] [Info] Start training from score 250.400155

In [27]:
results

{'SVR': {'dataset_1': 3117.0926019792632,
  'dataset_2': 3112.8101030453586,
  'dataset_3': 3114.379954461339,
  'dataset_4': 3134.9431960795705},
 'LGBMRegressor': {'dataset_1': 2402.606591325107,
  'dataset_2': 2395.7461023655815,
  'dataset_3': 2385.9344122987495,
  'dataset_4': 2395.6139549947675},
 'DecisionTreeRegressor': {'dataset_1': 4390.181783561651,
  'dataset_2': 4397.43157111733,
  'dataset_3': 4398.503548121209,
  'dataset_4': 4449.118010819971},
 'XGBRegressor': {'dataset_1': 2372.2470642054523,
  'dataset_2': 2372.2470642054523,
  'dataset_3': 2372.2470642054523,
  'dataset_4': 2359.5278557961565},
 'StackingRegressor': {'dataset_1': 2728.600613832204,
  'dataset_2': 2729.02451197861,
  'dataset_3': 2725.0114149561036,
  'dataset_4': 2743.3720260089563}}

- SVR, DecisionTree not that good
- dataset 4 show increasing performance with XGBRegressor
- dataset 3 show increasing performance with LGBMRegressor
- Haven't tried NN
- Also I still did the preprocessing

In [30]:
df_results = pd.DataFrame(results)
df_results.to_csv("results.csv")
df_results

,SVR,LGBMRegressor,DecisionTreeRegressor,XGBRegressor,StackingRegressor
dataset_1,3117.092602,2402.606591,4390.181784,2372.247064,2728.600614
dataset_2,3112.810103,2395.746102,4397.431571,2372.247064,2729.024512
dataset_3,3114.379954,2385.934412,4398.503548,2372.247064,2725.011415
dataset_4,3134.943196,2395.613955,4449.118011,2359.527856,2743.372026

In [39]:
df_results.T

                         dataset_1    dataset_2    dataset_3    dataset_4
SVR                    3117.092602  3112.810103  3114.379954  3134.943196
LGBMRegressor          2402.606591  2395.746102  2385.934412  2395.613955
DecisionTreeRegressor  4390.181784  4397.431571  4398.503548  4449.118011
XGBRegressor           2372.247064  2372.247064  2372.247064  2359.527856
StackingRegressor      2728.600614  2729.024512  2725.011415  2743.372026

# try 2

In [45]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import numpy as np

# Assuming 'models' is a list of your models
models = [model_lgbm, model_xgb, model_ensemble]

# Create a list of your datasets
datasets = [
    df_train_to_model_log,
    df_train_to_model_sqrt,
    df_train_to_model_boxcox,
    df_train_to_model_inverse,
]

y = df_target

# Initialize a dictionary to hold your results
results = {}

# Create a StandardScaler object
scaler = StandardScaler()
# scaler = MinMaxScaler()

# Loop over your models
for model in models:
    model_name = type(model).__name__
    results[model_name] = {}

    # Loop over your datasets
    for i, dataset in enumerate(datasets):
        # Split your data into training and testing sets
        X_train, X_test, y_train, y_test = train_test_split(
            dataset, y, test_size=0.2, random_state=42
        )

        numerical_column = X_train.select_dtypes(include=np.number).columns.tolist()
        for col in numerical_column:
            X_train[col] = X_train[col].astype("int64")
            X_test[col] = X_test[col].astype("int64")

        # Normalize the data
        X_train[numerical_column] = scaler.fit_transform(X_train[numerical_column])
        X_test[numerical_column] = scaler.transform(X_test[numerical_column])

        # Train the model
        model.fit(X_train, y_train)

        # Make predictions
        predictions = model.predict(X_test)

        # Evaluate the model
        mse = mean_squared_error(y_test, predictions)
        rmse = np.sqrt(mse)

        # Store the results
        results[model_name][f"dataset_{i+1}"] = rmse

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.004747 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1130
[LightGBM] [Info] Number of data points in the train set: 109712, number of used features: 41
[LightGBM] [Info] Start training from score 250.400155
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.004468 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1130
[LightGBM] [Info] Number of data points in the train set: 109712, number of used features: 41
[LightGBM] [Info] Start training from score 250.400155
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.003851 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1130
[LightGBM] [Info] Number of data points in the train set: 109712, number of used features: 41
[LightGBM] [Info] Start training from score 250.400155
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.003312 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1120
[LightGBM] [Info] Number of data points in the train set: 109712, number of used features: 41
[LightGBM] [Info] Start training from score 250.400155

ValueError: DataFrame.dtypes for data must be int, float, bool or category. When categorical type is supplied, The experimental DMatrix parameter`enable_categorical` must be set to `True`.  Invalid columns:Vehicle Class_0: category, Vehicle Class_1: category, Vehicle Class_2: category, Vehicle Class_3: category, Vehicle Class_4: category, Transmission_0: category, Transmission_1: category, Transmission_2: category, Transmission_3: category, Transmission_4: category, Make_ASURA: category, Make_BARUSU: category, Make_BMV: category, Make_CADILUXE: category, Make_CHEVO: category, Make_DOGE: category, Make_FIAR: category, Make_FOLD: category, Make_FOLKSWA: category, Make_GONDA: category, Make_JIPU: category, Make_KIO: category, Make_LAMBOGI: category, Make_LAND CRAWLER: category, Make_LECUS: category, Make_MATSUDA: category, Make_MITSU: category, Make_NIRRAN: category, Make_RYUNDAI: category, Make_TOLVO: category, Make_TOYOTI: category, Fuel Type_D: category, Fuel Type_E: category, Fuel Type_N: category, Fuel Type_X: category, Fuel Type_Z: category